.main {
  background-color: #444;
  /* margin: 80px 0px; */
  height: 100%;
  min-height: 100vh;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0px;
}

.row {
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: flex-start;
}

.col {
  margin-right: 30px;
}

.nftCard {
  height: 600px;
  width: 320px;
  background-color: #222;
}

.nftCardImage {
  width: 320px;
  height: 280px;
}

.nftCardBody {
  padding: 40px;
}

.nftCardBody h2 {
  margin: 0px;
  color: tomato;
}

.nftCardBody p {
  color: #fff;
}

.header {
  height: 60px;
  background-color: #222;
}

.nav {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
